html, * {
    font-family: helvetica;
    justify-content: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 30vmin 20vmin 30vmin 20vmin;
    grid-template-rows: 10vmin 10vmin 10vmin 30vmin 30vmin;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > h1, h2 {
    grid-column: span 4;
    margin: 5vmin;
    justify-content: center;
}

#play-area1, #play-area2, #play-card1, #play-card2 {
    border: 1vmin solid grey;
    padding: 4vmin;
}

#play-card1 {
    grid-column: span 1;
}

#play-card2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

h1 {
    color: #33D6FF;
}

#level {
    color: #5CFF33;
}


