html, * {
    font-family: helvetica;
    justify-content: center;
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 20vmin 30vmin 30vmin 30vmin 20vmin;
    grid-template-rows: 3vmin 3vmin 3vmin 40vmin 40vmin;
    background-color: black;
    gap: 5vmin 0vmin;
    border: 1vmin solid black;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > h1, h2 {
    grid-column: span 5;
    margin: 5vmin;
    justify-content: center;
}

.game-cards {
    background-size: cover;
}

#play-area1, #play-card1, #play-card2 {
    border: 1vmin solid #F0FF33;
    border-radius: 5vmin;
    padding: 4vmin;
    
}

#play-area1 {
    grid-column-start: 3;
    grid-column-end: 4;
}

#play-card1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#play-card2 {
    grid-column-start: 4;
    grid-column-end: 5;
}

h1 {
    color: #33D6FF;
    font-family: 'Quicksand', sans-serif;
}

#level {
    color: #5CFF33;
    font-family: 'Quicksand', sans-serif;
}

#message {
    color: white;
    font-family: 'Quicksand', sans-serif;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dir {
    color: #FB0606;
    font-family: 'Quicksand', sans-serif;
}


